.error{
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error h1{
    font-size: 120px;
}

.error a{
    text-decoration: none;
    background-color:rgba(255, 0, 0, 0.664);
    color: #FFF;
    padding: 10px;
    margin-top: 10px;
}